.add-dimension {
  background-color: #7d92f0ab;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}

.add-dimension-active {
  background-color: #4668ff;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}
