.container-specs {
  width: 100%;
  display: flex;
  gap: 10px;
}

.addSpecs-active {
  background-color: #1b56fd;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}

.addSpecs-disabled {
  background-color: #9fb3df;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}
